@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/background-1.jpg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  background-color: rgba(143, 215, 199, 0.7);
}

header {
  align-self: center;
  text-align: center;
  background-color: rgba(252, 146, 196, 0.7);
  border: 2px solid rgba(143, 215, 199, 0.7);
  border-radius: 100px;
  margin-top: 20px;
}

header h1 {
  margin: 20px;
  font-size: 300%;
}

.wapper {
  display: flex;
  gap: 60px;
  margin: 50px 50px 50px 50px;
}

.score-wapper {
  flex: 1;
}

.score-headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.btn {
  background-color: white;
  box-shadow: 3px 3px;
  padding: 2.5px 10px;
  transition: all 300ms linear;
}

.btn:hover {
  background-color: rgb(221, 221, 221);
}

.btn:active {
  background-color: rgb(155, 153, 153);
}

.score-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(76, 73, 73);
}

.score-list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin: auto;
  align-items: center;
  padding: 0 14px;
  box-sizing: border-box;
}

.score-list li:nth-child(odd) {
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
}

.score-list li:nth-child(even) {
  background-color: white;
  border: 1px solid white;
}

.score-input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit-score {
  align-self: center;
  width: 30%;
  height: 35px;
}

.score-form input {
  height: 30px;
  border: 3px solid black;
}

.score-form input::placeholder {
  color: black;
}

@media (max-width: 680px) {
  .wapper {
    flex-direction: column;
    margin: 20px 10px 0 10px;
  }

  header h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 25px;
  }
}
